.App {
  text-align: center;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 40vmin;
  pointer-events: none;
  /* position: absolute; */
  /* top : 10px; */
  /* right: 6px; */
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* CUSTOM STYLES  */
/* blob:https://imgur.com/861fc597-f5ea-4566-95e4-0fddaa4af750 */

.bg-img {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('https://i.imgur.com/QHEkJuL.jpg') center center no-repeat;
  background-size: cover;
}

.bg-img:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* background-image: linear-gradient(to bottom right,#282c34,#000000); */
  opacity: .6; 
}




