.App {
  text-align: center;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 47vmin;
  pointer-events: none;
  /* position: absolute; */
  /* top : 10px; */
  /* right: 6px; */
}

.App-header {
  /* background-color: #282c34; */
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* CUSTOM STYLES  */

.bg-img {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('https://i.imgur.com/kHcZys7.jpg') center center no-repeat;
  background-size: cover;
}

.bg-img:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right,#ffffff,#00090e);
  opacity: .2; 
}

.rssContainer{
  background-color: rgb(18, 70, 87);
  width: 100%;
  opacity: 0.6;
  position: absolute;
  align-content: center;
  bottom : 38px;

}

.bloquesRRSS{
  margin: 0;

  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) 
}

.botonsin {
  opacity: 1;
}

.linkRRSS{
  text-decoration:none;
  color :white;

}
.contenedorSecundario{
  width: 100%;

}

.spanIcon{
  font-size: 27px;
}




